# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs

# Gauge - reports dir
reports

# Gauge - python compiled files
*.pyc


.venv
.env
__pycache__/
*.sqlite
*.db
.DS_Store
.log.txt

alembic.ini

.vscode
.vscode-test